/* CSS Document */

#Home {
	background-color: #003b61;
	width: 100%;
    margin: auto;
    background-position: center 0px;
	padding: 0;
	text-align:center;
}

#Home_page1, #Home_page2, #Home_page3, #Home_page4, #Home_page5, #Home_page6 {
    display: inline-block;
    margin:0 auto; /* si il s'agit du premier module de la page d'accueil on peut appliquer en plus un margin-top:Ypx pour dŽcaler en hauteur le bloc d'icones */ 
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 17px;
	text-align:center;
	width: 140px;
    height: 120px;
	vertical-align: top;
}

#Home_page7 {
    margin-top: 18px;
	margin-left: 80%
}

#imageContainer {
	width: 100%;	
}